<!-- <h4>uppercase</h4> -->
<!-- {{'Bhushan'| uppercase}} -->

<!-- <h4>lowercase</h4> -->
<!-- {{'Jasa' | lowercase}} -->

<!-- <h4>Currency </h4> -->
<!-- It gives by default $ dolor currency symbol -->
<!-- {{ruppes | currency: 'INR'}} -->

<!-- <h4>Percentage</h4> -->
<!-- {{0.25 | percent}} -->

<!-- <h4>JSON Format</h4> -->
<!-- {{student | json}} -->

<!-- <h4>Slice</h4> -->


<!-- <h3>i18select Operation</h3> -->
<!-- {{gender | i18nSelect : gendermapping}} -->



<app-student-form></app-student-form>
